<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SparkShot</Name>
    <Version>1.0</Version>
    <Title>Simple screenshot application</Title>
    <Publisher>Devtel Software</Publisher>
    <StartMenuDir>SparkShot</StartMenuDir>
    <TargetDir>@HomeDir@/SparkShot</TargetDir>
</Installer>
